.nav-li {
  display: inline;
  float: left;
}

.nav-el {
  display: inline-block;
  padding: 1.2em;
  text-decoration: none;
  background-color: #13aa55;
  border-bottom: 2px solid #13aa55;
  color: white;
  transition: .3s;
}

.nav-el:hover {
  color: #11f;
  border-bottom: 2px solid #11f;
  margin-left: 10px;
  text-decoration: none; 
  transition: .3s;
}

/* .sticky-nav {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
} */
